.cardcontentrow{
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.cardcontent {
    border: 1px solid blue;
    width: 500px;
}