.product_name {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1rem;
    margin-block-end: 0.2em;
}


.product_price_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product_price {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 0.8rem;
}

.product_image {
    cursor: pointer;
    transition: linear 0.3s;
}

.product_image:hover {
    transition: linear 0.3s;
    -webkit-transform: scale3d(1.2, 1.2, 1);
}
