.header{
    display: flex;
    width:auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin:0 0 0 0 ;
    font-family: 'Playfair Display' ;
    font-size: 1.8rem;
    font-weight: 400;
}
.myAccount {
    display: flex;
    justify-content: row;
    align-items: center;
} 

.dropdownTrigger {
    font-family: 'Playfair Display' ;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Adjust the color to match your design */
}

.dropdownContent {
    display: block;
    position: absolute;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdownContent a {
    position: relative;
    padding: 10px 16px;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    color: #333; /* Adjust the color to match your design */
}

.headerlocationrow {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location{
    display: flex;
    flex-direction: row;
    width:60%;
}
.locationtitle {
    font-family: 'Playfair Display' ;
    font-weight: 100;
    font-size: 0.79rem;
}
.locationName{
    width: 15%;
}

    