.product_name_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_name {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1rem;
    margin-block-end: 0.2em;
}

.product_image {
    cursor: pointer;
    transition: linear 0.3s;
}

.product_image:hover {
    transition: linear 0.3s;
    transform: scale3d(1.2, 1.2, 1);
    -webkit-transform: scale3d(1.2, 1.2, 1);
}