.error {
    color: white;
    background-color: red;
}

.header{
    display: flex;
    width:auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:5%;
    margin-right:5%;
}
.title{
    margin:0 0 0 0 ;
    font-family: 'Playfair Display' ;
    font-size: 1.8rem;
    font-weight: 400;

}
.account {
    display: flex;
    justify-content: row;
    align-items: center;
    font-size: 1rem;
} 