.header{
    display: flex;
    width:auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin:0 0 0 0 ;
    font-family: 'Playfair Display' ;
    font-size: 1.8rem;
    font-weight: 400;

}
.account {
    display: flex;
    justify-content: row;
    align-items: center;
    font-size: 1rem;
} 

.headerlocationrow {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location{
    display: flex;
    flex-direction: row;
    width:60%;
}
.locationtitle {
    font-family: 'Playfair Display' ;
    font-weight: 100;
    font-size: 0.79rem;
}
.locationName{
    width: 15%;
}

    